.venv
/.idea
Jarvis/datos/settings.json
vs_buildtools.exe
JARVIS-HRZ proyecto para clonar o copiar inspirarse y mejorar/
*.dll
*.exe
*.zip
stitch_jarvis_cosmic_terminal/
plans/material/videos-fuente-calavera/
